*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

ul{
    padding: 20px;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
}
